# 🔹 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# 🔹 Flask
instance/
.webassets-cache

# 🔹 Virtual Environment
venv/
env/
ENV/

# 🔹 VS Code
.vscode/

# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 Logs
*.log

# 🔹 Docker
*.tar

# 🔹 Jenkins (local files if any)
jenkins_home/

# 🔹 Ansible temp files
*.retry

# 🔹 Environment variables
.env